@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
}
li {
  list-style-type: none;
}
.ul-navbar {
  display: flex;
  margin-left: 290px;
  margin-bottom: -60px;
  margin-top: -10px;
}

.li-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left: 185px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -500px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


.text-slideshow1{
  position: absolute;
  top: 200px;
  margin-left: 100px;
}

.text-slideshow1 h1{
  font-size: 50px;
  font-weight: 600;
}

.text-slideshow1 p{
  padding-bottom: 15px;
  font-family: "SamsungOne 400";
  font-style: normal;
  font-weight: normal;
  font-size: large;
  src: local("SamsungOne 400"), url("SamsungOne-400.woff") format("woff");
}

.link-slideshow1 a{
  text-decoration: none;
  color: #000000;
  margin-right: 30px;
  font-size: medium;
}

.link-slideshow1 a:hover{
  text-decoration: underline;
}


.link-slideshow1 button{
  width: 100px;
  height:   40px;
  border-radius: 20px;
  border: none;
  background-color: #000000;
  color: #fff;
  transition: all 0.3s;
  margin-left: 20px;
  cursor: pointer;
}

.link-slideshow1 button:hover{
  background-color: #2e2e2e;
}


#aku{
  margin-top: -100px;
}





































/* CONTENT ISI */

.container-img-1{
  position: absolute;
  right: 770px;
  bottom: 1680px;
  text-align: center;
  font-size: large;
}

.container-img-1 p {
  font-family: "SamsungOne 400";
  font-style: normal;
  font-weight: normal;
  src: local("SamsungOne 400"), url("SamsungOne-400.woff") format("woff");
}

.container-img-1 h1 {
  font-size: 40px;
  font-weight: 600;

}

.container-img-1 button {
  width: 100px;
  height:   40px;
  border-radius: 20px;
  border: none;
  background-color: #000000;
  color: #fff;
  transition: all 0.3s;
  margin-left: 20px;
}

.container-img-1 button:hover {
  background-color: #717171;
}

.container-img-1 a{
text-decoration: none;
color: #000000;
}

.container-img-1 a:hover{
  text-decoration: underline;
}

.container-img-1-upper{
  position: absolute;
  right: 910px;
}

.button-img1{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: -300px;
  margin-top:-15px;
}

.button-img1 button {
  display: flex;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: medium;
  border: none;
  background: transparent;
  transition: all 0.3s;
  color: #000000;
  font-weight: 600;
}

.button-img1 button:hover{
  background: rgba(195, 195, 195, 0.3);
  box-shadow: 0px 0px 0px 8px rgba(195, 195, 195, 0.3);
  text-decoration: underline;
}






































.container-img-3 {
  position: absolute;
  bottom: 40px;
  right: 670px;
  text-align: center;
  font-size: large;
}

.container-img-3 p {
  font-family: "SamsungOne 400";
  font-style: normal;
  font-weight: normal;
  src: local("SamsungOne 400"), url("SamsungOne-400.woff") format("woff");
}
.container-img-3 h1 {
  font-size: 40px;
  font-weight: 600;
}

.container-img-3 button {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #000000;
  color: #fff;
  transition: all 0.3s;
}

.container-img-3 button:hover {
  background-color: #717171;
}

.container-img-3-upper {
  position: absolute;
  right: 820px;
  top: 1640px;
}

.button-img3{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: -250px;
  margin-top:-10px;
}
.button-img3 button {
  display: flex;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: medium;
  border: none;
  background: transparent;
  transition: all 0.3s;
  font-weight: 600;
}

.button-img3 button:hover{
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3);
  text-decoration: underline;
}


.tittle-img3 h1 {
  font-size: 40px;
  font-weight: 600;
}

.container-img-2{
  position: absolute;
  bottom: 865px;
  right: 600px;
  text-align: center;
  font-size: large;
}
.tittle-img3 h1{
  color: #fff;

}
.container-img-2 h1{
  color: #fff;
  font-size: 45px;
  font-weight: 500;
}

.container-img-2 a{
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

.container-img-2 button {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #fffcfc;
  color: #000000;
  transition: all 0.3s;
}

.container-img-2 button:hover {
  background-color: #d8d8d8;
}


.container-img-2 a:hover{
  text-decoration: underline;
}



.container-img-2-upper{
  position: absolute;
  left: 850px;
  bottom: 1500px;
}


.button-img2{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: -260px;
  margin-top:-10px;
}

.button-img2 button {
  display: flex;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: medium;
  border: none;
  background: transparent;
  transition: all 0.3s;
  color: #fff;
  font-weight: 600;
}

.button-img2 button:hover{
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3);
  text-decoration: underline;
}








.mid-tittle {
  text-align: center;
}

.mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  margin-left: 140px;
  margin-top: 100px;
}

.tab-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(192, 188, 188);
  position: relative;
}

.tab-box .tab-btn {
  font-size: 18px;
  font-weight: 600;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}
.tab-box .tab-btn.active {
  color: #000000;
}
.content-box {
  margin-top: 30px;
  margin-left: -300px;
  position: absolute;
}

.content-box2 {
  position: absolute;
  left: 720px;
  display: flex;
  top: 0px;
}

.content-box3 {
  position: absolute;
  left: 720px;
  display: flex;
  top: 355px;
}

.content-2 {
  margin-right: 20px;
}

.content-4 {
  margin-right: 20px;
}
.content-box .content h2 {
  margin-bottom: 10px;
}

.line {
  position: absolute;
  top: 55px;
  left: 20px;
  width: 0px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.container-mid-bottom {
  position: relative;
  top: 900px;
}

#bottom-tittle {
  position: absolute;
  bottom: -3650px;
  right: 730px;
  font-size: 40px;
}

/* PRODUCT */
.product {
  position: relative;
  overflow: hidden;
  margin-left: -30px;
  bottom: -1000px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 50%;
  height: 50%;
  object-fit: cover;
  margin-left: 70px;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #717171;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* Bottom-bottom */
#bottom-tittle-bottom {
  display: flex;
  position: relative;
  bottom: -1100px;
  left: 650px;
  font-size: 40px;
  padding: 0;
  height: 0;
}

.bottom-container {
  display: flex;
  margin: 0;
  padding: 0;
  width: fit-content;
}

#photo-bottom {
  display: flex;
  position: relative;
  bottom: -1300px;
  right: 380px;
  border-radius: 20px;
  margin-top: -70px;
  background-size: cover;
  transition: all 0.5s;
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.container-photo-bottom #photo-bottom:hover {
  transform: scale(1.1);
}

.photo-bottom {
  margin-left: auto;
  margin-right: auto;
}
.container-photo-bottom {
  width: 100%;
  cursor: pointer;
}

#p1 {
  position: relative;
  left: 400px;
  bottom: -600px;
  font-size: 25px;
  margin-top: 80px;
  cursor: pointer;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

#p1:after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

#p1:hover:after {
  width: 100%;
}

.footer-main {
  display: flexbox;
  justify-content: center;
  margin-top: 800px;
  width: 100%;
}

.search-form {
  background: #fff;
  width: 600px;
  height: 55px;
  display: flex;
  position: absolute;
  bottom: -5270px;
  right: 650px;
}

.search-form .input-footer {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 5px;
}

.search-form #button-footer {
  background: #f0f0f0;
  padding: 10px 50px;
  border: none;
  outline: none;
  color: #000000;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#button-footer:hover {
  background: #000000;
  color: #fff;
}

.button-container {
  display: flex;
  width: 1000px;
  margin-top: 130px;
  margin-left: 500px;
}
.button-list {
  width: 130px;
  border: none;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.button-list:hover {
  border: #000000;
  background-color: #c3c3c3;
}

.li-text {
  font-size: 11px;
  font-weight: 400;
  text-decoration: none !important;
  margin-left: 300px;
  padding: 6px;
}

.container-information {
  display: flex;
  margin-left: 150px;
}
.information {
  padding-bottom: 15px;
  font-family: "SamsungOne 400";
  font-style: normal;
  font-weight: normal;
  src: local("SamsungOne 400"), url("SamsungOne-400.woff") format("woff");
}

.information a {
  text-decoration: none;
  padding: 2px;
  margin-left: 90px;
}

.information a:hover {
  text-decoration: underline;
}
.h3-class {
  font-weight: 600;
  margin-left: 90px;
  padding-bottom: px;
}

@font-face {
  font-family: "SamsungOne 400";
  font-style: normal;
  font-weight: normal;
  src: local("SamsungOne 400"), url("SamsungOne-400.woff") format("woff");
}

@font-face {
  font-family: "SamsungOne 700";
  font-style: normal;
  font-weight: normal;
  src: local("SamsungOne 700"), url("SamsungOne-700.woff") format("woff");
}

@font-face {
  font-family: "Samsung Sharp Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Bold"),
    url("SamsungSharpSans-Bold.woff") format("woff");
}

.icon-footer {
  display: flex;
  position: absolute;
  right: 285px;
  font-size: xx-large;
  margin-top: -40px;
}

#icon-id {
  margin-left: 15px;
}

.footer-clear {
  display: flex;
  text-decoration: none;
  margin-left: 300px;
}

.footer-clear a {
  text-decoration: none;
  font-weight: 300;
}

.footer-clear a:hover {
  text-decoration: underline;
}

#copyright {
  font-size: 13px;
  font-weight: 300;
  margin-left: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}
